nav
    ul
        li
            a(href="/") home
        li
            a(href="/users/login") login
        li
           a(href="/users/register") register
        li
           a(href="/users/logout") logout
        li
           a(href="/users/info") profile